* {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

.container {
    background-color: black;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25vh;
    padding: 5vw;
    width: 30vw;
    height: 50vh;
    text-align: center;
    border-radius: 15px;
}

h1{
    padding-bottom: 20px;
}

input {
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 85%;
    height: 15%;
}
button {
    background-color: dodgerblue;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 85%;
    height: 15%;
}

button:hover {
    background-color: deepskyblue;
}