body {
    background: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.container {
    background-color: black;
    position: relative;
    color: white;
    margin: 5vh auto auto auto;
    padding: 8vw;
    width: 280px;
    height: 480px;
    text-align: center;
    border-radius: 15px;
}

h1{  
    padding-bottom: 30px;
}

.cadastro {
    text-align: start;
    padding-right: 2px;
    margin-left: 21px;
    width: 85%;
}

a {
    
    font-size: 12px;
    color: red;
    text-decoration: none;
}

input {
    padding-left: 5px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 90%;
    height: 15%;
}
button {
    background-color: dodgerblue;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 90%;
    height: 15%;
}

button:hover {
    background-color: deepskyblue;
}